TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR={{ IP }}
PREFIX=24
GATEWAY={{ GW }}
DNS1={{ DNS }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME=eth0
DEVICE=eth0
ONBOOT=yes
AUTOCONNECT_RETRIES=1
MULTI_CONNECT=1
DEVTIMEOUT=60
